@model IMP_Lib.Models.Client
@{
    ViewBag.Title = "Client - " + Model.Username;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
<script src="~/Scripts/jquery-jvectormap-2.0.3.min.js"></script>
<script src="~/Scripts/jquery-jvectormap-world-mill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<link href="~/Content/clientControl.css" rel="stylesheet" />
<script src="~/Scripts/imp-map.js"></script>
<script src="~/Scripts/SignalRHubs/ClientControlHub.js"></script>
<script src="~/Scripts/clientControl.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>




<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 dropshadow widget-container" id="system-summary">
            <header>
                System <span class="fw-semi-bold">Summary</span>
            </header>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    <div class="col-sm-12">
                        <img src="~/Content/Images/desktop_icon.png" style="max-width: 178px;">
                    </div>
                    <div class="col-sm-12">
                        <h5> Machinename </h5>
                        @Model.SystemInfo.MachineName
                    </div>
                </div>
                <div class="col-lg-9">
                    <h5>Operating system</h5>  @Model.SystemInfo.OperatingSystem (@Model.SystemInfo.FriendlySystemType)
                    <h5>CPU</h5> @Model.SystemInfo.CPU
                    <h5>GPU</h5> @Model.SystemInfo.GPU
                    <h5>RAM</h5> @Model.SystemInfo.RAM MB
                    <h5>Locale</h5> @Model.SystemInfo.SystemLocale
                </div>
            </div>
        </div>

        @foreach (IMP_Lib.Models.Monitor monitor in Model.SystemInfo.Monitors)
        {
        <div class="col-lg-2 dropshadow widget-container monitor-container">
            <center>
                <header>
                        @monitor.Type 
                </header>
            </center>
            <img src="~/Content/Images/monitor.ico"/><br />
            @monitor.Resolution
        </div>
        }

    </div>

</div>

<script>
    $(function () {
        $('.monitor-container').matchHeight();
    });
</script>